.price_title {
    font-size: 13px;
    color: #c8c8c8;
}

.price_value {
    font-size: 15px;
    color: #2B8279;
    font-weight: 700;
}

.buy_now,
.buy_now_modal {
    padding: 20px 90px;
    color: #c8c8c8;
    font-weight: 700;
}


.buy_now:hover {
    background-color: #2B8279 !important;
    color: #fff !important;
    border: 1px solid #2B8279 !important;
}

.buy_now_modal {
    padding: 20px 150px !important;
}